.task-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid var(--light-grey);
}

.task-container:hover {
    cursor: pointer;
}

.task-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.task-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.task-category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.task-text h3 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.task-category-container h5 {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.25px;
}

.dash {
    text-decoration: line-through;
    color: green;
}

@media (max-width: 768px) {
    .task-text h3 {
        font-size: 14px;
    }

    .task-category-container h5 {
        font-size: 14px;
    }

}